<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/index.css">
</head>

<body>
    <header>
        <a href="https://mail.google.com/mail/u/0/">Gmail</a>
        <a href="https://www.google.com/imghp?hl=es&ogbl">Imagenes</a>
        <button>
            <img src="/Picture/apps.png" alt="" class="apps">
        </button>
        <button class="Acceder_btn">Acceder</button>
    </header>
    <main>
        <img src="/Picture/google_logo.png" class="google_logo">
        <div class="search-container">
            <img src="/Picture/search.png" alt="" class="search_logo">
            <input type="text" placeholder="Search..." class="Search_input">
            <img src="/Picture/microphone.png" alt="" class="micro_logo">
            <img src="/Picture/camera-alt.png" alt="" class="camara_logo">
        </div>
    </main>
    <footer></footer>
</body>

</html>