* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

header {
    justify-content: end;
    text-align: right;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.google_logo {
    height: 100px;
    
}

.search_logo {
    align-items: flex-start;
    cursor: pointer;
    height: 15px;
}

.camara_logo {
    height: 15px;
    align-items: flex-start;
    cursor: pointer;
}

.micro_logo {
    align-items: flex-start;
    cursor: pointer;
    height: 15px;
}

/* Este es el truco para ponerlos alineados */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Para que el input mantenga su proporción */
    gap: 5px;
    /* Espacio entre el input y la lupa */
    border: 1px black;
    border-radius: 10px;
    max-width: 700px;
}

.apps {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

.Acceder_btn {
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

main {

    height: 100vh;
    /* Cambiado a vh para asegurar que ocupe la pantalla */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Centra el contenido verticalmente */
    gap: 10px;
    /* Espacio entre el logo y la barra de búsqueda */
}

.Search_input {
    border: none;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    width: 40%;
    font-size: 20px;
    padding: 5px 15px;
    flex-grow: 1;
    /* Mejora la apariencia del texto */
}

.search-container:hover {
    box-shadow: 10px 0px 10px powderblue;
}

.Contenedor_botones {
    display: flex;
    gap: 30px;
}

.Nav_btn {
    background-color:LightCyan;
    border: white;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;

}

.Nav_btn:hover {
    box-shadow: 5px 5px 5px powderblue;
}


.Ia{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
    background-color: transparent;
    
}
@keyframes ia {
    0%{
        box-shadow: 0px 0px 0px 2px yellow;
    }
    50%{
        box-shadow: 0px 0px 0px 2px blue;
    }
    100%{
        box-shadow: 0px 0px 0px 2px red;
    }
}
.Ia:hover{
    animation: infinite 10s ia;
}
label{
    font-size: 10px;
}