* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    justify-content: center;
    align-content: center;

}

header {
    justify-content: end;
    text-align: right;
    display: flex;
    gap: 10px;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.google_logo {
    height: 100px;
}

.search_logo {
    align-items: flex-start;
    cursor: pointer; 
    height: 15px;
}
.camara_logo{
    height: 15px;
    align-items: flex-start;
    cursor: pointer;
}
.micro_logo{
    align-items: flex-start;
    cursor: pointer; 
    height: 15px;
}
/* Este es el truco para ponerlos alineados */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Para que el input mantenga su proporción */
    gap: 10px;   /* Espacio entre el input y la lupa */
    border: 1px black ;
    border-radius: 10px;
    width: 45%;
    
}
.apps {
    height: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.Acceder_btn {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 10%;
    cursor: pointer;
}

main {

    height: 100vh;
    /* Cambiado a vh para asegurar que ocupe la pantalla */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Centra el contenido verticalmente */
    gap: 10px;
    /* Espacio entre el logo y la barra de búsqueda */
}

.Search_input {
    border: none;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    width: 80%;
    font-size: 20px;
    padding: 5px 15px;
    /* Mejora la apariencia del texto */
}

.search-container:hover{
    box-shadow: 10px 0px 10px powderblue;
}